.ant-pro-sider-logo {
  display: none !important;
}
.ant-pro-basicLayout .ant-pro-basicLayout-is-children.ant-pro-basicLayout-fix-siderbar {
  height: calc(100vh - 48px) !important;
}
.ant-pro-basicLayout-content .ant-pro-page-container {
  margin: 0;
}
