@font-face {
  font-family: 'iconfont'; /* Project id 3339313 */
  src: url('iconfont.woff2?t=1650528912980') format('woff2'),
    url('iconfont.woff?t=1650528912980') format('woff'),
    url('iconfont.ttf?t=1650528912980') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-beizhu:before {
  content: '\e6c4';
}

.icon-beizhu1:before {
  content: '\e610';
}

.icon-shoucang1:before {
  content: '\e604';
}

.icon-shoucang:before {
  content: '\eca7';
}

.icon-fenxiang:before {
  content: '\e8b0';
}
